<template name="header">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{pathFor 'storylist'}}>Storii</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href={{pathFor 'storylist'}}>Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Top</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        {{#if currentUser}}
          <li><button type="button" class="btn btn-default navbar-btn new-post">New Post</button></li>
        {{/if}}

        {{> loginButtons}}

        <li id="vote-button"><iframe src="http://nodeknockout.com/iframe/wafis" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
        </iframe></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>
</template>