<template name="newpost">
        {{#if connected connection_status}}
            <div class="alert alert-success" role="alert">{{connection_status}}</div>
        {{ else }}
            {{#if waiting connection_status}}
                <div class="alert alert-warning" role="alert">{{connection_status}}</div>
            {{ else }}
                <div class="alert alert-danger" role="alert">{{connection_status}}</div>
            {{/if}}
        {{/if}}
    <div class="pull-left jumbotron" style="height:100%; width:30%; padding:20px; margin-top:30px;">
        <p id="turn-indicator" class="center-block">{{turn_indicator}}</p>
        <p id="user-timer">
            {{#if isThisUsersTurn }}
                {{getTurnCountdown}} seconds left for this turn.
            {{/if}}
        </p>
    </div>
    <div class="pull-left" style="height:100%; width:40%; padding:10px;">
        <b>Story:</b><br/>
        <textarea rows="20" style="width:100%; padding:10px; resize:none; overflow-y:scroll;" disabled>
            {{story}}
        </textarea><br/>
        <form id="story-form">
            <b>Next bit:</b><br/>
            <textarea name="newbit" rows="10" style="width:100%; padding:10px; resize:none; overflow-y:scroll;"></textarea><br>
            <input type="submit" id="sunmit-button" value="Add text" class="btn btn-primary btn-md"/>
        </form>
        {{#if isThisUsersTurn}}
            <button id="post-button" class="btn btn-primary btn-md">Post</button>
        {{/if}}
    </div>
</template>