<template name="storyPage"> 
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><a href={{pathFor 'storyPage'}}>{{title}}</a></h3>
		</div>
		<div class="panel-body">
			<p> {{content}}</p>
			<i class="text-info">{{tm_cal createdAt}}</i><br/>
            <div class="pull-right">
				<img id="upvote-button" class="upvote-element" src="ic_thumb_up_black_24px.svg"/>{{upvotes}}
			</div>
		</div>
	</div>
	{{#if currentUser}}
		<div class="input-group" style="width: 100%;">
			<textarea class="form-control custom-control" id="comment-text" rows="3" style="resize:none; width:100%;" placeholder="Enter Comment Here.."></textarea> 
		</div>
		<br>
		<span class="input-group-btn">
			<button class="btn btn-primary" id="add-comment">                            
			<span>Post</span>

			</button>
		</span>
	{{/if}}
	<br>
	<h4>Comments:</h4>
	{{#each comments}}
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="panel-title"><b>{{username userId}}</b></h3>
				<p> {{content}}</p>
				<i class="text-info">{{tm_cal createdAt}}</i><br/>
	            <div class="pull-right">
					<img id="upvote-button-comments" class="upvote-element" src="ic_thumb_up_black_24px.svg"/>{{upvotes}}
				</div>
			</div>
		</div>
	{{/each}}
</template>