<template name="storylist">
	{{#each stories}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a href={{pathFor 'storyPage'}}>{{title}}</a></h3>
			</div>
			<div class="panel-body">
				<p> {{getSubString content}}.. <a href={{pathFor 'storyPage'}}>  more</a></p>
				<i class="text-info">{{tm_cal createdAt}}</i><br/>
                <div class="pull-right">
					<img id="upvote-button" class="upvote-element" src="ic_thumb_up_black_24px.svg"/>{{upvotes}}
				</div>
			</div>
		</div>
	{{/each}}
</template>